@mixin clearFix{
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}


/*

phone - 600px
tablet_port - 900px
tablet_land - 1100px


ORDER: base + typography > general layout + grid > page layout > components*/

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 600px){ @content; }
    }

    @if $breakpoint == tablet_port{
        @media (max-width: 900px){ @content; }
    }

    @if $breakpoint == tablet_land{
        @media (max-width: 1200px){ @content; }
    }

}